* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Anton", sans-serif;
}

/* Remover margem do body para eliminar espaços em branco */
body {
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  background-color: #02f43d;
  justify-content: space-between;
  padding: 0 20px;
}

/* Remover margem direita do último item do menu */
.menu li:last-child {
  margin-right: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 20px; /* Reduzi a margem para 20px para economizar espaço */
}

.menu a {
  text-decoration: none;
  font-size: 16px;
}

.menu a:hover {
  color: #fff;
}

#logo_img {
  margin-left: 20px;
}

#logo_img img {
  max-width: 150px;
  height: auto;
  margin-top: 15px;
}

/* Remover espaçamento vertical extra nas imagens */
img {
  vertical-align: middle;
}

.class_photo {
  width: 100%;
  overflow: hidden; /* Para garantir que a imagem não ultrapasse a largura da tela */
}

.class_photo img {
  width: 100%; /* Ajusta a largura da imagem para 100% */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Remove espaços em branco extras abaixo da imagem */
}

.image-container {
  position: relative; /* Garante que a posição absoluta seja relativa a este contêiner */
}

#welcome_message {
  font-size: 3vw; /* Utiliza uma unidade de medida relativa para o tamanho da fonte */
  position: absolute;
  bottom: 10%; /* Distância de 10% da parte inferior */
  left: 5%; /* Distância de 5% da parte esquerda */
  max-width: 80%; /* Limita a largura do texto a 80% da largura do contêiner pai */
}

#process_bar {
  position: absolute; /* Posiciona a barra de processo de forma absoluta */
  bottom: 0; /* Alinha a barra de processo na parte inferior do contêiner pai */
  left: 0; /* Alinha a barra de processo na parte esquerda do contêiner pai */
  width: 100%; /* Define a largura da barra de processo como 100% da largura do contêiner pai */
  height: 10px; /* Define a altura da barra de processo */
  background-color: #ff0000; /* Define a cor de fundo da barra de processo */
}

.activities-overlay {
  width: 100%;
  height: 280px;
  background-color: #02f43d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activities-overlay h2 {
  font-size: 3vw; /* Utiliza uma unidade de medida relativa para o tamanho da fonte */
  text-align: center;
}

#section_from_Activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: cadetblue;
}

.atividade {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 35px;
  margin: auto;
}
