* {
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  background-color: #02f43d;
  justify-content: space-between;
  padding: 0 10px; /* Adicionando espaçamento de 10px nos cantos do header */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  margin-right: 100px; /* Reduzindo o espaçamento entre os itens do menu */
}

.menu a {
  text-decoration: none;
  color: #fff; /* Alterando a cor do texto do menu */
  font-size: 20px;
}

.menu a:hover {
  color: #000;
  animation: 5ms;
}

#logo_img img {
  width: 150px;
  margin-left: 100px;
  margin-top: 15px;
}
